.env
chesscog/
chess-fen-predictor/
out.png
test1.png
play-chess-against-chat-gpt-on-chess-dot-com.jpg
24-GAME/
Minesweeper-Solver/
*.png
PythonFarmGame/
farm_agent.py
random_img_infer.py
yolov5m.pt
yolov5mu.pt