bpy==4.4.0
CairoSVG==2.7.1
chess==1.11.2
fastapi==0.115.12
googledrivedownloader==0.4
gradio==5.29.0
mathutils==3.3.0
matplotlib==3.10.3
numpy==2.2.5
openai==1.78.0
opencv_python==4.11.0.86
osfclient==0.0.5
pandas==2.2.3
Pillow==9.5.0
Pillow==11.2.1
pytest==8.3.5
python-dotenv==1.1.0
recap==0.1.8
Requests==2.32.3
scikit_learn==1.6.1
toml==0.10.2
torch==2.7.0+cu126
torchvision==0.22.0+cu126
tqdm==4.67.1
ultralytics==8.3.129
uvicorn==0.34.2
